extends _base

block content
  form(method='post')
    input(name="name", type="text", placeholder="你的名字")
    br
    input(name="pass", type="password", placeholder="你的密码")
    br
    input(type="submit", value="登录")
